.slide h2 small {
  font-size: 50%;
  color: #aaa;
}

.section h2 {
  margin: 360px 0 0;
}

#Cover h2,
#End h2 {
  margin: 100px 0 0;
  color: #000;
  text-align: center;
  line-height: 120%;
  font-size: 72px;
}


#SeeMore h2 {
  font-size: 100px;
}
